.header{
    background-color: var(--bg-color-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__container{
    width: 100%;
}

@media (min-width: 814px){
    .header__container{
        width: 100%;
        max-width: 1300px;
    }
}