.footer{
    background-color:var(--bg-color-dark-blue);
    padding: 80px 20px 40px;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 40px;
}
.footer-title{
    color: white;
    font-size: 2rem;
    margin-bottom: 40px;
}
.footer-text{
    color: var(--text-light);
    line-height: 1.8;
    margin-bottom: 18px;
}
.footer-link{
    color: var(--text-light);
    padding: 8px 0;
}
.footer-link:hover{
    color: white;
}
.social-container{
    display: flex;
    gap: 10px;
}
.social-icon{
    background-color: var(--bg-color-green);
    color: white;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.address-icon{
    color: white;
    margin-right: 10px;
}
.copyright{
    margin-top: 80px;
    text-align: center;
    color: var(--text-light);
}
.copyright-icon{
    color: red;
}

@media(min-width : 576px){
    .footer-container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media(min-width : 992px){
    .footer-container{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}